# Assignment 00: Gauge your Python skills

## Question 1: Soccer roster generator

Imagine you have been given a list of 22 soccer players along with their performance scores (out of 11):

|Player Name | Performance Score (PS)|
|---|---|
|James|1|
|Robert|2|
|John|3|
|Michael|4|
|David|5|
|William|6|
|Richard|7|
|Joseph|8|
|Thomas|9|
|Charles|10|
|Christopher|11|
|Mary|1|
|Patricia|2|
|Jennifer|3|
|Linda|4|
|Elizabeth|5|
|Barbara|6|
|Susan|7|
|Jessica|8|
|Sarah|9|
|Karen|10|
|Lisa|11|

The coach wants you to develop a random roster generator that operates in a fair way. Meaning, upon every execution of your code, it must output two random lineups (each composed of 11 players) such that __no two players with the same performance scores be in the same team__. For example, one output can be:

|Team 1 | PS |Team 2 | PS |
|-------|------|-------|------|
|James      |1 |Mary       |1 |
|Robert     |2 |Patricia   |2 |
|John       |3 |Jennifer   |3 |
|Michael    |4 |Linda      |4 |
|David      |5 |Elizabeth  |5 |
|William    |6 |Barbara    |6 |
|Richard    |7 |Susan      |7 |
|Joseph     |8 |Jessica    |8 |
|Thomas     |9 |Sarah      |9 |
|Charles    |10|Karen      |10|
|Christopher|11|Lisa       |11|

Or, another output can be:

|Team 1 | PS |Team 2 | PS |
|-------|------|-------|------|
|James      |1 |Mary       |1 |
|Patricia   |2 |Robert     |2 |
|John       |3 |Jennifer   |3 |
|Michael    |4 |Linda      |4 |
|David      |5 |Elizabeth  |5 |
|William    |6 |Barbara    |6 |
|Richard    |7 |Susan      |7 |
|Jessica    |8 |Joseph     |8 |
|Thomas     |9 |Sarah      |9 |
|Charles    |10|Karen      |10|
|Christopher|11|Lisa       |11|

I need you to write three versions of your code each in a separate cell:
1. Version 1 - Use sequence type __*list*__ for both storing original data and outputing lineups.
2. Version 2 - Use sequence type __*tuple*__ for both storing original data and outputing lineups.
3. Version 3 - Use __*pandas dataframe*__ for both storing original data and outputing lineups.
   
Caveats:
1. Outputted lineups must show not only players names but also their corresponding Performance Scores.
2. Your code is supposed to be a __random__ lineup generator meaning the suggested lineups of every execution of your code must be different from previous executions.
3. Random does not mean unique, this is not a problem with infinite number of solutions.

In [37]:
# Version 1 
import random

Player_lst = [  'James',    1,  'Mary',  1,    'Patricia',   2,    'Robert', 2,     'John', 3, 'Jennifer', 3, 
                'Michael',  4, 'Linda',  4,       'David',   5, 'Elizabeth', 5,  'William', 6,  'Barbara', 6, 
                'Richard',  7, 'Susan',  7,     'Jessica',   8,    'Joseph', 8 ,  'Thomas', 9,    'Sarah', 9, 
                'Charles', 10, 'Karen', 10, 'Christopher',  11,      'Lisa', 11]

team_1, team_2  = [], []
for i in range (11):
    team_1_player = random.choice([0 ,2])
    team_1.append(Player_lst[team_1_player + i * 4])
    team_1.append(Player_lst[team_1_player + i * 4 + 1])

    team_2_player = 2 - team_1_player
    team_2.append((Player_lst[team_2_player + i * 4]))
    team_2.append((Player_lst[team_2_player + i * 4 + 1]))

print('Team 1 lineup is: ', team_1)
print('Team 2 lineup is: ', team_2)

Team 1 lineup is:  ['Mary', 1, 'Robert', 2, 'Jennifer', 3, 'Linda', 4, 'Elizabeth', 5, 'Barbara', 6, 'Richard', 7, 'Jessica', 8, 'Thomas', 9, 'Charles', 10, 'Christopher', 11]
Team 2 lineup is:  ['James', 1, 'Patricia', 2, 'John', 3, 'Michael', 4, 'David', 5, 'William', 6, 'Susan', 7, 'Joseph', 8, 'Sarah', 9, 'Karen', 10, 'Lisa', 11]

In [43]:
# Version 2
Player_tuple = (('James',   1),  ('Mary',  1),  ('Patricia',    2),  ('Robert',    2),  ('John',    3), ('Jennifer', 3), 
                ('Michael', 4),  ('Linda', 4),  ('David',       5),  ('Elizabeth', 5),  ('William', 6), ('Barbara',  6), 
                ('Richard', 7),  ('Susan', 7),  ('Jessica',     8),  ('Joseph',    8),  ('Thomas',  9),  ('Sarah',   9), 
                ('Charles', 10), ('Karen', 10), ('Christopher', 11), ('Lisa',      11))

team_1, team_2  = (), ()
for i in range (11):
    team_1_player = random.randint(0, 1)
    team_1  = team_1 + Player_tuple[team_1_player + i * 2]

    team_2_player = 1 - team_1_player
    team_2 = team_2 + Player_tuple[team_2_player + i * 2]

print('Team 1 lineup is: ', team_1)
print('Team 2 lineup is: ', team_2)

Team 1 lineup is:  ('James', 1, 'Robert', 2, 'Jennifer', 3, 'Linda', 4, 'Elizabeth', 5, 'William', 6, 'Richard', 7, 'Joseph', 8, 'Thomas', 9, 'Karen', 10, 'Lisa', 11)
Team 2 lineup is:  ('Mary', 1, 'Patricia', 2, 'John', 3, 'Michael', 4, 'David', 5, 'Barbara', 6, 'Susan', 7, 'Jessica', 8, 'Sarah', 9, 'Charles', 10, 'Christopher', 11)

In [54]:
# Version 3
import numpy as np
import pandas as pd

df = pd.DataFrame(np.array([
                ('James',   1),  ('Mary',  1),  ('Patricia',    2),  ('Robert',    2),  ('John',    3), ('Jennifer', 3), 
                ('Michael', 4),  ('Linda', 4),  ('David',       5),  ('Elizabeth', 5),  ('William', 6), ('Barbara',  6), 
                ('Richard', 7),  ('Susan', 7),  ('Jessica',     8),  ('Joseph',    8),  ('Thomas',  9),  ('Sarah',   9), 
                ('Charles', 10), ('Karen', 10), ('Christopher', 11), ('Lisa',      11)]),
               columns=['Player Name', 'Performance Score (PS)'])

team_1_df = pd.DataFrame(columns=['Player Name', 'Performance Score (PS)'])
team_2_df = pd.DataFrame(columns=['Player Name', 'Performance Score (PS)'])

for i in range (11):
    team_1_player = random.randint(0, 1)
    team_1 = df.iloc[[team_1_player + i * 2]]

    team_2_player = 1 - team_1_player
    team_2 = df.iloc[[team_2_player + i * 2]]

    team_1_df = pd.concat([team_1_df, team_1])
    team_2_df = pd.concat([team_2_df, team_2])

print('Team 1 lineup is: ')
print(team_1_df)
print('Team 2 lineup is: ')
print(team_2_df)

Team 1 lineup is:
   Player Name Performance Score (PS)
1         Mary                      1
2     Patricia                      2
4         John                      3
6      Michael                      4
8        David                      5
10     William                      6
13       Susan                      7
15      Joseph                      8
17       Sarah                      9
19       Karen                     10
21        Lisa                     11
Team 2 lineup is:
    Player Name Performance Score (PS)
0         James                      1
3        Robert                      2
5      Jennifer                      3
7         Linda                      4
9     Elizabeth                      5
11      Barbara                      6
12      Richard                      7
14      Jessica                      8
16       Thomas                      9
18      Charles                     10
20  Christopher                     11

## Question 2: Data Scientist, the sexiest job?
Please peruse the following two articles and answer the followup questions:
1. <a href="https://hbr.org/2012/10/data-scientist-the-sexiest-job-of-the-21st-century">Data Scientist: The Sexiest Job of the 21st Century.</a>
2. <a href="https://hbr.org/2022/07/is-data-scientist-still-the-sexiest-job-of-the-21st-century">Is Data Scientist Still the Sexiest Job of the 21st Century?</a>

Based on the articles, why Data Science was viewed as the most attractive and/or exciting job in 2012 and what recent developments and/or challenges it is facing now? How a Data Science role is now different from what it was perceived to be in 2012?

Caveat:
1. Please keep your answer within 400 words.
2. Type your answer in a markdown cell with proper formatting.

Answer:
1. Why Data Science was viewed as the most attractive and/or exciting job in 2012?


   Data scientists in 2012 are akin to the Wall Street “quants” of the 1980s and 1990s. With the development of big data, many companies are struggling with the amounts and types of data. Therefore, the demand for data scientists far exceeds the supply. Data scientists can find convincing patterns in the data and make informed decisions about products, processes and Advice to executives on the impact of decisions. They can find the core of the problem and devise creative ways to solve them.
   
2. What recent developments and/or challenges it is facing now?
   
   This field will grow faster than almost any other field. However, it faces more and more challenges. The challenges of managing ever-increasing data systems and technologies have resulted in a more complex technological environment, as the technology on which the field depends has advanced so much. In the same time, the importance of non-technical expertise (such as ethics and change management) has grown, and finally The growth of related roles has also created challenges for the field.
3. How a Data Science role is now different from what it was perceived to be in 2012?

   Data science has become more institutionalized, its scope has been redefined, the technologies it relies on have advanced, and the importance of non-technical expertise has grown. The role of data science is now complemented by a variety of other jobs as well, in 2012 data scientists were assumed to be able to perform all the required tasks, however now there is a surge in related jobs handling many of these tasks, in part due to the No single job role can hold all the skills needed to successfully deploy complex AI or analytics systems. At the same time, the techniques used by data scientists are changing. Some technology trends are a continuation of directions that emerged in 2012, such as the use of open source tools and the move to cloud-based processing and data storage. Finally, the ethical dimension also has an important impact on data science. More and more regulations are being created to deal with ethical lapses.

# Submission
You will submit only one notebook to OWL under the __*Assignments*__ tab. The tab is not visible to you now but it will become so before the submission deadline. Submission deadline is in the course Calendar on OWL.